@import "src/assets/styles/variables";

.button-container {
  border-radius: 12px;
  font: 700 15px/22px 'Poppins-Bold';

  &.primary {
    color: white;
    background: $secondary;
    border: 2px solid $secondary-700;

    &:hover, &:active {
      border-color: $secondary;
      background: $secondary-600
    }
  }

  &.large {
    padding: 16.5px 48px;
  }

  &.medium {
    padding: 12.5px 16px;
  }

  &.small {
    padding: 6.5px 12px;
  }

  &.fullWidth {
    width: 100%;
    padding: 12px;
  }
}
