@import "src/assets/styles/variables";

:host {
  display: flex;
  justify-content: center;
  background-color: $primary-200;
  padding-bottom: 200px;
}

.main-layout-container {
  width: 1260px;
  background-color: white;
  min-height: 100vh;
  box-shadow: $primary-box-shadow;
  position: relative;

  app-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
