<div class="footer-container d-flex justify-content-between">
  <div class="footer-container_column d-flex flex-column">
    <p class="footer-container_column-title">Get in touch</p>
    <a class="footer-container_column-item">About Us</a>
    <a class="footer-container_column-item">Careers</a>
    <a class="footer-container_column-item">Press Releases</a>
    <a class="footer-container_column-item">Blog</a>
  </div>
  <div class="footer-container_column d-flex flex-column">
    <p class="footer-container_column-title">Connections</p>
    <a class="footer-container_column-item">Facebook</a>
    <a class="footer-container_column-item">Twitter</a>
    <a class="footer-container_column-item">Instagram</a>
    <a class="footer-container_column-item">Youtube</a>
    <a class="footer-container_column-item">LinkedIn</a>
  </div>
  <div class="footer-container_column d-flex flex-column">
    <p class="footer-container_column-title">Earning</p>
    <a class="footer-container_column-item">Become an Affiliate</a>
    <a class="footer-container_column-item">Advertise your product</a>
    <a class="footer-container_column-item">Sell on Market</a>
  </div>
  <div class="footer-container_column d-flex flex-column">
    <p class="footer-container_column-title">Account</p>
    <a class="footer-container_column-item">Your account</a>
    <a class="footer-container_column-item">Returns Centre</a>
    <a class="footer-container_column-item">100% purchase protection</a>
    <a class="footer-container_column-item">Chat with us</a>
    <a class="footer-container_column-item">Help</a>
  </div>
</div>


