@import "src/assets/styles/variables";

.input-container {
  position: relative;

  label {
    font: 600 12px/18px 'Poppins-SemiBold';
    color: $primary;
  }

  ::ng-deep input {
    background: $primary-200;
    border: 1px solid $primary-500;
    border-radius: 12px;
    padding: 11px 16px 12px 21px;
    outline: none;
    font: 400 14px/19px 'Open Sans';
    color: $primary;
    width: 100%;

    &::placeholder {
      color: $primary-600;
    }
  }

  ::ng-deep img {
    position: absolute;
    width: 16px;
    margin: 13px 0 0;
    right: 16px;
    cursor: pointer;
  }

  &.error {
    label {
      color: $warning-700;
    }

    ::ng-deep input {
      border: 1px solid $warning-700;
    }
  }
}
