$primary: #151515;
$primary-700: #575757;
$primary-600: #A9A9A9;
$primary-500: #D1D1D1;
$primary-400: #EBEBEB;
$primary-300: #F5F5F5;
$primary-200: #F9F9F9;

$secondary: #6A983C;
//#D0A866

$primary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
